{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="page-head">
    <h1 class="post-content-title">Blød Maud</h1>
    <p clgpass="page-head-description">
        releases
    </p>
</header>

<div class="post-feed">
    <article class="post-card with-image" style="background-image: url('https://calvins.pizza/uploads/bldmd/bldmd/cover.png'); background-position: 50% 45%">
        <a class="post-card-link" href="https://bldmd.bandcamp.com/album/bl-d-maud-2" target="_blank">
            <div class="post-card-content">
                <h2 class="post-card-title">Blød Maud</h2>
                <h3 class="post-card-subtitle">April 1, 2014</h3>
            </div>
        </a>
    </article>
    <article class="post-card with-image" style="background-image: url('https://calvins.pizza/uploads/bldmd/Dronning/cover.png'); background-position: 50% 45%">
        <a class="post-card-link" href="https://bldmd.bandcamp.com/album/dronning" target="_blank">
            <div class="post-card-content">
                <h2 class="post-card-title">Dronning</h2>
                <h3 class="post-card-subtitle">Nov 7, 2014</h3>
            </div>
        </a>
    </article>
    <article class="post-card with-image" style="background-image: url('https://calvins.pizza/uploads/bldmd/Ma%CC%88del/cover.jpg'); background-position: 50% 45%">
        <a class="post-card-link" href="https://bldmd.bandcamp.com/album/m-del" target="_blank">
            <div class="post-card-content">
                <h2 class="post-card-title">Mädel</h2>
                <h3 class="post-card-subtitle">June 30, 2017</h3>
            </div>
        </a>
    </article>
</div>

<br />
<br />

{{#get "posts" id="66c21b62454dd8033dd6573c" include="tags,authors" as |post|}}
    {{#post}}
    <article class="post-content {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
        <header class="post-content-header">
            <h1 class="post-content-title">About</h1>
        </header>
        <div class="post-content-body">
            {{content}}
        </div>
    </article>
    {{/post}}
{{/get}}
