{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="page-head">
    <h1 class="post-content-title">Princess Barbara</h1>
    <p class="page-head-description">
        releases
    </p>
</header>

<div class="post-feed">
    <article class="post-card with-image" style="background-image: url('https://calvins.pizza/uploads/princessbarbara/ep/cover.png'); background-position: 50% 45%">
        <a class="post-card-link" href="https://princessbarbara.bandcamp.com/album/princess-barbara-ep" target="_blank">
            <div class="post-card-content">
                <h2 class="post-card-title">EP 1</h2>
                <h3 class="post-card-subtitle">Oct 14, 2014</h3>
            </div>
        </a>
    </article>
    <article class="post-card with-image" style="background-image: url('https://calvins.pizza/uploads/princessbarbara/EP2/cover.png'); background-position: 50% 45%">
        <a class="post-card-link" href="https://princessbarbara.bandcamp.com/album/ep2" target="_blank">
            <div class="post-card-content">
                <h2 class="post-card-title">EP 2</h2>
                <h3 class="post-card-subtitle">Oct 29, 2019</h3>
            </div>
        </a>
    </article>
    <article class="post-card with-image" style="background-image: url('https://calvins.pizza/uploads/princessbarbara/frend_return_to_amender/cover.jpg'); background-position: 50% 45%">
        <a class="post-card-link" href="https://princessbarbara.bandcamp.com/album/frend-return-to-amender" target="_blank">
            <div class="post-card-content">
                <h2 class="post-card-title">Frend / Return to Amender</h2>
                <h3 class="post-card-subtitle">Aug 23, 2024</h3>
            </div>
        </a>
    </article>
</div>

<br />
<br />

{{#get "posts" id="66c20c2c23d97673f68bc8e8" include="tags,authors" as |post|}}
    {{#post}}
    <article class="post-content {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
        <header class="post-content-header">
            <h1 class="post-content-title">About</h1>
        </header>
        <div class="post-content-body">
            {{content}}
        </div>
    </article>
    {{/post}}
{{/get}}
